# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Виртуальные окружения
.venv/
venv/

# Python кэш
__pycache__/
*.py[cod]

# PyCharm
.idea/
*.iml

# Логи и временные файлы
*.log
*.tmp
*.swp

# Системные файлы
.DS_Store
Thumbs.db

embeddings/*
faces/*
!faces/.gitkeep  # если хочешь оставить пустую папку в Git
